{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<div class="container">
    
 
<div class="main">

    </div> -->
    <div class="cards">
        <div class="card">
            <div class="card-content">
                <div class="number">{{ student_count }}</div>
                <div class="card-name">Total Students</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-user"></i>
                <!-- <i class="fas fa-briefcase-medical"></i> -->
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number">{{ provider_count }}</div>
                <div class="card-name">Total Provider</div>
            </div>
            <div class="icon-box">
                <!-- <i class="fas fa-wheelchair"></i> -->
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number">{{ pending_count }}</div>
                <div class="card-name">Panding Provider</div>
            </div>
            <div class="icon-box">
                <!-- <i class="fas fa-bed"></i> -->
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number">{{ rejected_count }}</div>
                <div class="card-name">Rejected Provider</div>
            </div>
            <div class="icon-box">
                <!-- <i class="fas fa-dollar-sign"></i> -->
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>
    <div class="tables">
        <div class="last-appointments">
            <div class="heading">
                <h2>Register Donors</h2>
                <a href="{% url 'providers_all' %}" class="btn">View All</a>
            </div>
            <table class="appointments">
                <thead>
                    <td>Name</td>
                    <td>Pnone No</td>
                    <td>Status</td>
                    <td>Actions</td>
                </thead>
                <tbody>

                {% for data in show_provider|slice:":5" %}

                    <tr>
                        <td>{{ data.user.first_name }} {{ data.user.last_name }}</td>
                        <td>{{ data.mobile }}</td>
                        <td>{{ data.status }}</td>
                        <td><a href="{% url 'delete_provider' data.user.id %}" onclick="return confirm('Are you sure? \nYou want to delete...')"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="doctor-visiting">
            <div class="heading">
                <h3>Register Students</h3>
                <a href="{% url 'view_users' %}" class="btn">View All</a>
            </div>
            <table class="visiting">
                <thead>
                    
                    <td>Name</td>
                    <td>Phone No</td>
                    <td>Action</td>
                </thead>
                <tbody>
                    {% for data in show_student|slice:":5" %}
                    <tr>
                        <td>{{ data.user.first_name }} {{ data.user.last_name }}</td>
                        <td>{{ data.mobile }}</td>
                       
                        <td><a href="{% url 'delete_user' data.user.id %}" onclick="return confirm('Are you sure? \nYou want to delete...')"><i class="far fa-trash-alt"></i></a></td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>



</div>

{% endblock %}