{% extends 'provider_base.html' %}
{% load static %}

{% block content %}




<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Applied Candidates </marquee>
</section>
<h2 class="titles">Applied Candidates</h2>

<section class="view-table"> 

    <div class="container">

        <table class="appointments" id="example" >

            <thead>

                <tr>

                    <th>S. No.</th>
                    <th>Candidate Name</th>
                    <th>Email</th>
                    <!-- <th>Contact</th> -->
                    <th>Scholarship Title</th>
                    <!-- <th>Company Name</th> -->
                    <th>Apply Date</th>
                    <th>Form</th>
                    <th>Candidate Details</th>
                    

                </tr>

            </thead>

            <tbody>

                {% for data in AppliedCandidates %}

                {% if request.user.id == data.addscholarship.provider.user.id %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.student.user.first_name }} {{ data.student.user.last_name }}</td>
                    <td>{{ data.student.user.username }}</td>
                    <!-- <td>{{ data.student.mobile }}</td> -->
                    <td>{{ data.addscholarship.title }}</td>
                    <!-- <td>{{ data.addscholarship.provider.companyname }}</td> -->
                    <td>{{ data.applyeddate }}</td>
                    <td><a href="{{ data.scholarshipform.url }}" class="btn" download>Download</a></td>
                    <td><a href="{% url 'user_details' data.id %}" class="btn btn-info">view</a></td>


                    
                </tr>

                {% endif %}

                {% endfor %}

            </tbody>

        </table>

    </div>
</section>

{% endblock %}