{% extends 'user_base.html' %}
{% load static %}

{% block content %}

<!-- marquee section start -->
<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Apply for scholarship</marquee>
</section>
<h2 class="titles">Apply for scholarship</h2>

<!-- marquee section end -->
<style>
#img-userprofile{
  border: 2px solid #FA6900;
  border-radius: 4px;
  padding: 5px;
  width: 180px;
  height: 220;
  margin-top: 30px;
  margin-left: 20px;
}
#complete-userprofile{
    padding: 2rem 2rem;
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 1);
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;

}

</style>


<!-- provider sign-up profile or update form start -->

<section class="forms">

    <div class="container" id="complete-userprofile" style="margin-bottom: 50px;">

        <div class="row">

            <!-- form column -->
            <div class="col-md-9"> 

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
        
                        <div class="col-md-6">
                            <label for="uname"><b>Firstname</b></label>
                            <input type="text" class="form-control" placeholder="Enter Firstname" value="{{ Applyed.user.first_name }}" name="fname" readonly required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="uname"><b>Lastname</b></label>
                            <input type="text" class="form-control" placeholder="Enter Lastname" value="{{ Applyed.user.last_name }}" name="lname" readonly required>
                        </div>
        
                    </div>
        

        
                    <div class="row">
        
                        <div class="col-md-6">
                            <label for="uname"><b>Email</b></label>
                            <input type="email" class="form-control" placeholder="Enter Email" value="{{ Applyed.user.username }}" name="email" readonly required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="uname"><b>Contact</b></label>
                            <input type="text" class="form-control" placeholder="Enter Contact" value="{{ Applyed.mobile}}" name="contact" readonly required>
                        </div>
        
                    </div>

                    <div class="row">
        
                        <div class="col-md-12">
                            <label for="uname"><b>CNIC</b></label>
                            <input type="text" class="form-control" placeholder="Enter CNIC" value="{{ Applyed.cnic }}" name="cnic" readonly required>
                        </div>
        
                        
        
                    </div>

                    <div class="row">
                                
                        <div class="col-md-6">
                            <label for="uname"><b>Religion</b></label>
                            <input type="text" class="form-control" placeholder="Enter Religion" value="{{ Applyed.religion }}" name="religion" readonly required>
                            
                        </div>
        
                        <div class="col-md-6">
                            <label for="uname"><b>Disability</b></label>
                            <input type="text" class="form-control" placeholder="Enter Disability" value="{{ Applyed.disability}}" name="disability" readonly required>
            
                        </div>
        
                    </div>

                    <div class="row">
        
                        <div class="col-md-6">
                            <label for="uname"><b>Institution Name</b></label>
                            <input type="text" class="form-control" placeholder="Enter Intitution" value="{{ Applyed.institution }}" name="inst" readonly required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="uname"><b>Registration /Roll No</b></label>
                            <input type="text" class="form-control" placeholder="Enter Registration /Roll No" value="{{ Applyed.registration}}" name="reg" readonly required>
                        </div>
        
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <label for="startdate"><b>Are you Hafiz-e-Quran</b></label>
                            <input type="text" class="form-control" placeholder="" value="{{Applyed.hafiz}}" name="hfz" readonly required>
                            
                        </div>
        
                        
    
                    </div>

                    <div class="row">
        
                        <div class="col-md-12">
                            <label for="income"><b>Education Level</b></label>
                            <input type="text" class="form-control" placeholder="Enter Income" name="income" value="{{ Applyed.education_level}}" readonly required>
                        </div>
        
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <label for="degree"><b>Current Program</b></label>
                            <input type="text" class="form-control" placeholder="Enter Current Degree" name="degree" value="{{ Applyed.currentdegree}}" readonly required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="marks"><b>Grades</b></label>
                            <input type="text" class="form-control" placeholder="Enter previous" name="marks" value="{{ Applyed.previousmarks}}" readonly required>
                        </div>
                    </div>
        
                    <div class="row">

                        <div class="col-md-6">
                            <label for="startdate"><b>Guardian Name</b></label>
                            <input type="text" class="form-control" placeholder="Enter Guardian Name"  value="{{ Applyed.gname}}" name="gname" readonly required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="enddate"><b>Guardian CNIC</b></label>
                            <input type="text" class="form-control" placeholder="Enter Guardian CNIC" value="{{ Applyed.gcnic}}" name="gcnic" readonly required>
                        </div>
    
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <label for="startdate"><b>Income Type</b></label>
                            <input type="text" class="form-control" placeholder="Enter Income Type" value="{{ Applyed.itype}}" name="itype" readonly required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="enddate"><b>Guardian Monthly Income </b></label>
                            <input type="text" class="form-control" placeholder="Enter Income"  value="{{ Applyed.total}}" name="total" readonly required>
                        </div>
                    </div>

                
        
                    <div class="row">
        
                        <div class="col-md-12">
                            <label for="location"><b>Address</b></label>
                            <input type="text" class="form-control" placeholder="Enter Address" name="location" value="{{ Applyed.location}}" readonly required>
                        </div>
        
                    </div>
        
                    <div class="row">
        
                        <div class="col-md-6">
                            <label for="psw"><b>Gander</b></label>
                            {% if Applyed.gender == 'male' %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="male" checked>
                                <label class="form-check-label" for="exampleRadios1">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="femail">
                                <label class="form-check-label" for="exampleRadios2">Femail</label>
                            </div>

                            {% elif Applyed.gender == 'femail' %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="male">
                                <label class="form-check-label" for="exampleRadios1">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="femail" checked>
                                <label class="form-check-label" for="exampleRadios2">Femail</label>
                            </div>
                              
                            {% endif %}
                        </div>
                    
    
                        <div class="col-md-6">
                            <!-- <label for="psw"><b>Insert Your Image</b></label> -->
                            <div class="form">
                                <label for="forms"><b>Upload Form</b></label><br>
                                <input type="file" class="form-control-file" name="forms">
                            </div>                
                        </div>
        
                    </div>

                    <div class="row">
        
                        <div class="col-md-12">
                            <label for="dis"><b>Discription</b></label>
                            <textarea class="form-control" name="discription" placeholder="Discription here:" id="" cols="18" rows="6" readonly>{{ Applyed.discriotion}}</textarea>
                            
                        </div>
                    </div>
        
                
                    <button type="submit" value="submit" id="bt">Submit</button>
        
                    
                </form>

            </div>

            <!-- pictire column -->
            <div class="col-md-3">

                <img src="{{ Applyed.image.url }}" id="img-userprofile">

            </div>



        </div>


        
    </div>
</section>

<!-- provider sign-up form end -->

{% if Error == 'notopend' %}

<script>
    alert('Application date is not open');
    window.location = ("{% url 'user_latestscholarships'%}");
</script>

{% elif Error == 'closed' %}
<script>
    alert('Application date is closed');
    window.location = ("{% url 'user_latestscholarships'%}");
</script>
{% elif Error == 'done' %}
<script>
    alert('Application Submitted successfully');
    window.location = ("{% url 'user_latestscholarships'%}");
</script>

{% elif Error == 'no' %}
<script>
    alert('something went wrong ......');
</script>

{% endif %}

{% endblock %}