{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<!-- marquee section start -->
<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Chage Password</marquee>
</section>
<!-- marquee section end -->

<!-- change form start -->

<section class="forms">
   
    <div class="container">

        <form action="" method="POST">
            {% csrf_token %}
            <label for="currentpass"><b>Current Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Current Password" name="currentpass" required>
        
            <label for="newpass"><b>New Password</b></label>
            <input type="password" class="form-control" placeholder="Enter New Password" name="newpass" required>

            <label for="conformpass"><b>Conform Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password Again" name="conformpass" required>

            <button type="submit" style="margin-top: 10px;">submit</button>

        </form>
    </div>
</section>

<!-- changr provider status end -->

{% if Error == 'no' %}
<script>
    alert('Status Changed Successfully');
    window.location = ("{% url 'providers_all'%}");
</script>

{% elif Error == 'nit' %}
<script>
    alert('Your current password is not correct');
</script>

{% elif Error == 'yes' %}
<script>
    alert('Something went to wronge...');
</script>

{% endif %}

{% endblock%}