{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<!-- marquee section start -->
<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Chage Password</marquee>
</section>
<h2 class="titles">Chage Password</h2>
<!-- marquee section end -->

<!-- change password form start -->

<script>

    function checkpass()
    {
        if(document.changepass.newpass.value != document.changepass.conformpass.value )
        {
        alert('New password and Conform password in no matched');
        document.changepass.conformpass.focus();
        return false
        }
        return true
    }


</script>

<section class="forms" id="form">
   
    <div class="container">

        <form action="" method="POST" name="changepass" onsubmit="return checkpass();">
            {% csrf_token %}
            <label for="currentpass"><b>Current Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Current Password" name="currentpass" required>
        
            <label for="newpass"><b>New Password</b></label>
            <input type="password" class="form-control" placeholder="Enter New Password" name="newpass" required>

            <label for="conformpass"><b>Conform Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password Again" name="conformpass" required>

            <button type="submit" id="bt" style="margin-top: 10px;">submit</button>

        </form>
    </div>
</section>

<!-- changr password status end -->

{% if Error == 'no' %}
<script>
    alert('Password updated successfully');
    window.location = ("{% url 'Logout' %}");
</script>

{% elif Error == 'not' %}
<script>
    alert('Your current password is not correct');
</script>

{% elif Error == 'yes' %}
<script>
    alert('Something went to wronge...');
</script>

{% endif %}

{% endblock%}