{% extends 'provider_base.html' %}
{% load static %}

{% block content %}


    <!-- marquee section start -->
<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Edit Scholarship Details</marquee>
</section>
<h2 class="titles">Edit Scholarship Details</h2>
<!-- marquee section end -->
<style>
#edit-scholarship{
    padding: 2rem 2rem;
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 1);
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
}
</style>
<!-- provider Add scholarship details form start -->

<section class="forms" style="margin-bottom: 60px;">
   
    <div class="container" id="edit-scholarship">
        <form action="" method="POST"  name="details" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <div class="col-md-12">
                    <label for="title"><b>Scholarship Title</b></label>
                    <input type="text" class="form-control" value="{{EditScholarship.title}}" placeholder="Enter Scholarship Title" name="title" required>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <label for="startdate"><b>Start Date</b></label> <span style="color: red;">[{{EditScholarship.startdate}}]</span> 
                    <input type="date" class="form-control" placeholder="" name="startdate">
                </div>

                <div class="col-md-6">
                    <label for="enddate"><b>End Date</b></label> <span style="color: red;">[{{EditScholarship.enddate}}]</span> 
                    <input type="date" class="form-control" placeholder="" name="enddate">
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <label for="status"><b>Level of Education</b></label><span style="color: rgb(157, 169, 159);"> [{{EditScholarship.education_level}}]</span>
                    <select class="form-select" aria-label="Default select example" name="income">
                        <option >Chose Education Level</option>
                        <option value="Matriculation">Matriculation</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Bachelor">Bachelor</option>
                        <option value="Master">Master</option>
                        <option value="PhD">PhD</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

            <div class="row">

                <div class="col-md-6">
                    <label for="type"><b>Program(s)</b></label>
                    <input type="text" class="form-control" value="{{EditScholarship.scholarshiptype}}" placeholder="eg. For Bachlor/Master" name="type" required>
                </div>

                <div class="col-md-6">
                    <label for="marks"><b>Min Marks</b></label>
                    <input type="text" class="form-control" value="{{EditScholarship.prviousmarks}}" placeholder="Min Previous Marks/CGPA" name="marks" required>
                </div>

            </div> 

            <div class="row">

                <div class="col-md-12">
                    <label for="nofscholarship"><b>Total Scholarships</b></label>
                    <input type="int" class="form-control" value="{{EditScholarship.noofscholarships}}" placeholder="No. of Scholarships" name="nofscholarship" required>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <label for="location"><b>Location</b></label>
                    <input type="text" class="form-control" value="{{EditScholarship.Location}}" placeholder="Location" name="location" required>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="forms" style="margin: 10px 0;">
                        <label for="form"><b>Update Scholarship Form</b></label><br>
                        <input type="file" class="form-control-file" name="forms" id="">
                        <!-- <img src="{{ EditScholarship.scholarshipform.url}}" style="height: 70px; width: 70px;"> -->
                        <a href="{{ EditScholarship.scholarshipform.url}}" class="btn btn-info">View Form</a>
                    </div>   
                </div>

                <div class="col-md-6">
                    <div class="form" style="margin: 10px 0;">
                        <label for="logo"><b>Company Logo</b></label><br>
                        <input type="file" class="form-control-file" name="logo" id="">
                        <img src="{{ EditScholarship.logo.url}}" style="height: 70px; width: 70px;">
                    </div>   
                </div>
                
            </div>

            <div class="row">

                <div class="col-md-12">
                    <label for="dis"><b>Discription</b></label>
                    <textarea class="form-control" placeholder="Discription here:" name="discription" id="" cols="18" rows="6" required>{{EditScholarship.discription}}</textarea>
                </div>
            </div>
        
            <button type="submit" value="submit" id="bt">Submit</button>

            
        </form>
    </div>
</section>

<!-- provider Add scholarship details form end -->

{% if Error == 'no' %}
<script>
    alert('Your Scholarship updated Successfully');
    window.location = ("{% url 'scholarship_list'%}");
</script>

{% elif Error == 'yes' %}
<script>
    alert('Something went to Wrong. \n Please Try Againg...');
</script>
{% endif %}


{% endblock %}