 {% extends 'base.html' %}
 {% load static %}
 
 {% block content %}

  <!-- banar ssection start -->
 
<section  class="banar">

    <div class="banar-img">

        <div class="content">
            <span>explore, discover, get scholarship</span>
            <h3>welcome to edu scholarship</h3>
            <a href="" class="btn btn-primary but">discover more</a>
        </div>

    </div>


</section>
   
    <!-- banar end -->

<!-- our mission section start-->
<section class="mission">

    <div class="container" >
        <h2>OUR MISSION</h2>

        <div class="row">

            <div class="col-md-6">
                <h3> Our Mission 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam veritatis asperiores ducimus porro voluptatum et modi, repudiandae ullam qui omnis neque, sapiente aperiam nisi repellendus? Obcaecati eveniet corrupti similique odio?</p>
            </div>

            <div class="col-md-6">
                <h3> Our Mission 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam veritatis asperiores ducimus porro voluptatum et modi, repudiandae ullam qui omnis neque, sapiente aperiam nisi repellendus? Obcaecati eveniet corrupti similique odio?</p>
            </div>

        </div>

    </div>

</section>
<!-- our mission section end-->

<!-- footer section start -->
<!-- <section class="footer">

    <div class="container">
        <h1>footer</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptates necessitatibus perspiciatis tenetur adipisci omnis, totam aliquam deleniti corrupti ullam fugit nesciunt. Excepturi, mollitia aut dolores laborum hic consequatur eaque!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis fugit dignissimos incidunt! Alias, nam soluta totam expedita aliquid facere magnam a laborum consectetur dicta, labore, inventore delectus animi incidunt quisquam!</p>
    </div>

</section> -->
<!-- footer section end -->


 {% endblock %}