 {% extends 'base.html' %}
 {% load static %}
 
 {% block content %}

  <!-- banar ssection start -->
 
<section  class="banar">

    <div class="banar-img">

        <div class="content">
            <!-- <span>explore, discover, get scholarship</span>
            <h3>welcome to edu scholarship</h3>
            <a href="" class="btn btn-primary but">discover more</a> -->
        </div>

    </div>


</section>
   
    <!-- banar end -->

    <!-- Title Start -->
    <h2 class="titles">scholarship listing</h2>
    <!-- Title Start -->


<!-- Schilarship details start -->
<section class="schilarsship-list" id="schilarships">

    {% for data in AllScholarship|slice:":3"  %}

    

    <div class="scholarship-card">

        
        <div class="row" style="width:100%;">

            <!-- col-1 -->
            <div class="col-md-8">
                <div class="scholarship-name">

                    <img class="profile" src="{{ data.logo.url }}" alt="">
                        <div class="scholarship-detail">
                            <h4>{{ data.provider.companyname }}</h4>
                            <h3>{{ data.title }}</h3>
                            <p>{{ data.discription }}</p>
                            <a href="#" class="detail-1"><i class="fa fa-location"></i> {{ data.Location }}</a>
                            <a href="#" class="detail-1"><i class="fa fa-location"></i> {{ data.startdate }}</a>
                        </div>
                </div>
            </div>

            <!-- col-2 -->
            <div class="col-md-2">
                <div class="scholarship-name">
                    <div class="scholarship-lable">
                        <a class="lable-a" href="#">{{ data.scholarshiptype }}</a>
                    </div>
                </div>

            </div>

            <!-- col-3 -->
            <div class="col-md-2">
                <div class="scholarship-name">
                    <div class="posted">
                        <a href="{% url 'user_login' %}" class="btn btn-info">Apply Now</a>
                        <a href="#" class="post-date"><i class="fa fa-calander"></i>{{ data.enddate }}</a>
                    </div>
                </div>

            </div>

        </div>


    </div>

    {% endfor %}

    <a href="{% url 'latest_scholarships' %}" class="more">More List</a>

</section>

<!-- Schilarship details start -->

<!-- join page start -->
<section class="join">
    <div class="join-detail">
        <div class="row" style="width: 100%;">

            <div class="col-md-8">
                <h1 class="join-title">LETS START TO HELP NEEDY STUDENTS WITH US</h1>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
                     et quod? Iusto suscipit vitae excepturi laboriosam maxime molestiae 
                     vero voluptate asperiores debi</P>
            </div>

            <div class="col-md-4" id="clm-btm">
                <a class="join-butten" href="#">Jion Now</a>
            </div>

        </div>
    </div>

</section>
<!-- join page end -->





 {% endblock %}