{% extends 'user_base.html' %}

{% block content %}
<div class="container">
    <h3>Notification</h3>

    {% if not Notify %}
        <p>No notifications yet!</p> 
    {% endif %}


    <P>{{ forstudent.education_level}}</P>
    <P>{{ Notify.education_level}}</P>
    <P>{{ Notify.date.today()}</P>


    {% for notify in Notify %}

    {% if forstudent.education_level == notify.education_level %}

    <P>---> {{notify.createdate}}</P>
    <P>---> {{notify.createdate}}</P>


        <p>
            <a href="{% url 'view_notification' notify.id %}">
                <strong>{{ notify.provider.companyname }}</strong> Post a new scholarship <br>
                <small>for {{ notify.education_level }} students</small>
            </a> 
        </p>

    {% endif %}


    {% endfor %}

</div>


{% endblock %}






