{% extends 'user_base.html' %}

{% block content %}
<div class="container">
    <h3>Notification</h3>

    {% if not Notify %}
        No notifications yet!
    {% endif %}


    <P>{{ forstudent.education_level}}</P>
    <P>{{ Notify.education_level}}</P>


    {% for notify in Notify %}
    
    {% if forstudent.education_level == notify.education_level %}
    <p style="background: rgb(242, 241, 241)">
        <a href="{% url 'view_notification' notify.id %}">
            <strong>{{ notify.provider.companyname }}</strong> Post a new scholarship <br>
            <small>for {{ notify.education_level }} students</small>
        </a> 
    </p>

    {% endif %}
    {% endfor %}



    
</div>


{% endblock %}