{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    body{
        background-color:  #f2f7fc;
    }
</style>


<!-- marquee section start -->
<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Provider Login</marquee>
</section>
<!-- marquee section end -->

<!-- provider login form start -->
<h2 class="titles">login to your account</h2>


<section class="forms" id="form">
   
    <div class="container">

        <h2 class="login-title">Login</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <label for="uname"><b>Email</b></label>
            <input type="email" class="form-control" placeholder="Enter Username" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
        
            <button class="login" type="submit">Login</button>

            <a href="{% url 'provider_signup' %}" id ="bt">Register</a>

            <hr>

            <p><a href="{% url 'password_reset' %}" >Forgotten Your Password?</a></p>

        </form>
    </div>
</section>

<!-- provier login form start -->

{% if Error == 'no' %}
<script>
    alert('Login Successful');
    window.location = ("{% url 'provider_home'%}");
</script>

{% elif Error == 'not' %}
<script>
    alert('Your Statua is Pending. \n Please Try some Later...');
</script>

{% elif Error == 'yes' %}
<script>
    alert('Invalid Login credentials. \n Please Try Againg...');
</script>
{% endif %}


{% endblock%}