{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<!-- data tables and export button  JS Code start -->
<script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script>
<!-- data tables and export button JS Code end -->


<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Rejected Providers</marquee>
</section>

<section class="view"> 

    <div class="container">

        <table class="table" id="example" >

            <thead>

                <tr>

                    <th>S. No.</th>
                    <th>Image</th>
                    <th>Applicant Name</th>
                    <th>Company Name</th>
                    <th>Email ID </th>
                    <th>Phon No.</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>

            </thead>

            <tbody>

                {% for data in Providerdata %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ data.image.url }}"></td>
                    <td>{{ data.user.first_name }} {{ data.user.last_name }}</td>
                    <td>{{ data.companyname }}</td>
                    <td>{{ data.user.username }}</td>
                    <td>{{ data.mobile }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.status }}</td>
                    <td><a href="{% url 'change_status' data.id %}" type="button" class="btn btn-info">Change</a></td>


                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
</section>

{% endblock %}