{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<!-- data tables and export button  JS Code start -->
<script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script>
<!-- data tables and export button JS Code end -->


<h2 class="titles">All Providers</h2>


<section class="view-table"> 
    <div class="container">
    
        <table class="appointments" id="">
            <thead>
                <td>Sr. No</td>
                <td>Image</td>
                <td>Name</td>
                <td>Company</td>
                <td>Email</td>
                <td>Phone No</td>
                <td>Gender</td>
                <td>Status</td>
                <td>Actions</td>
            </thead>
            <tbody>
    
                {% for data in ALLProviderdata %}
    
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img class="timgs" src="{{ data.image.url }}"></td>
                    <td>{{ data.user.first_name }} {{ data.user.last_name }}</td>
                    <td>{{ data.companyname }}</td>
                    <td>{{ data.user.username }}</td>
                    <td>{{ data.mobile }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.status }}</td>
                    <td>
                        <!-- <i class="far fa-eye"></i>
                        <i class="far fa-edit"></i> -->
                        <a href="{% url 'change_status' data.id %}" type="button" class="btn btn-info">Change</a>

                        <a href="{% url 'delete_user' data.user.id %}" onclick="return confirm('Are you sure? \nYou want to delete...')"><i class="far fa-trash-alt"></i></a>
    
                        <!-- <i class="far fa-trash-alt"></i> -->
                    </td>
                </tr>
    
                {% endfor %}
               
            </tbody>
        </table>
    
    </div>
    </section>

{% endblock %}