{% extends 'provider_base.html' %}
{% load static %}

{% block content %}

<!-- data tables and export button  JS Code start -->
<!-- <script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script> -->
<!-- data tables and export button JS Code end -->


<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Scholarship List</marquee>
</section>
<h2 class="titles">Scholarship List</h2>
<section class="view-table"> 

    <div class="container" >

        <table class="appointments" id="example" >

            <thead>

                <tr>

                    <th>S. No.</th>
                    <th>Logo</th>
                    <th>Title</th>
                    <th>End date</th>
                    <th>Action</th>
                    

                </tr>

            </thead>

            <tbody>

                {% for data in scholarship %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img class="timgs" src="{{ data.logo.url }}"></td>
                    <td>{{ data.title }}</td>
                    <td>{{ data.enddate }}</td>
                    <td><a href="{% url 'edit_scholarshipdetails' data.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        &nbsp; || &nbsp;
                        <a href="{% url 'delete_addscholarship' data.id %}" onclick="return confirm('Are you sure? \nYou want to delete...')"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
</section>

{% endblock %}