{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- marquee section start -->
<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">User Login</marquee>
</section>
<!-- marquee section end -->

<!-- user login form start -->

<section class="forms">
   
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="uname"><b>Email</b></label>
            <input type="email" class="form-control" placeholder="Enter Email" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
        
            <button type="submit" value="login">Login</button>

            <!-- <input type="submit" value="login" name="" id="bt"> -->

            <a href="{% url 'user_signup' %}" id ="bt">CREATE AN ACCOUNT</a><hr>
            
            <p><a href="{% url 'password_reset' %}" >Forgotten Your Password?</a></p>
            
        </form>
    </div>
</section>

<!-- user login form end -->

{% if Error == 'no' %}
<script>
    alert('Login Successful');
    window.location = ("{% url 'user_home'%}");
</script>

{% elif Error == 'yes' %}
<script>
    alert('Invalid Login credentials. \n Please Try Againg...');
</script>

{% endif %}



{% endblock%}