{% extends 'user_base.html' %}
{% load static %}

{% block content %}



<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Latest Scholarships</marquee>
</section>

<section class="schilarsship-list" id="schilarships">

    <form  action="" method="GET">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search Scholarships">
        <button class="login" type="submit" ><i class="fas fa-search"></i></button>
      </form>

    {% for data in AllScholarship %}

    <div class="scholarship-card">

        <div class="row" style="width:100%;">

            <!-- col-1 -->
            <div class="col-md-8">
                <div class="scholarship-name">

                    <img class="profile" src="{{ data.logo.url }}" alt="">
                        <div class="scholarship-detail">
                            <h4>{{ data.provider.companyname }}</h4>
                            <h3>{{ data.title }}</h3>
                            <p>{{ data.discription }}</p>
                            <a href="#" class="detail-1"><i class="fa fa-location"></i> {{ data.Location }}</a>
                            <a href="#" class="detail-1"><i class="fa fa-location"></i> {{ data.startdate }}</a>
                        </div>
                </div>
            </div>

            <!-- col-2 -->
            <div class="col-md-2">
                <div class="scholarship-name">
                    <div class="scholarship-lable">
                        <a class="lable-a" href="#">{{ data.scholarshiptype }}</a>
                    </div>
                </div>

            </div>

            <!-- col-3 -->
            <div class="col-md-2">
                <div class="scholarship-name">
                    <div class="posted">
                        {% if data.id in List %}
                        <p>Applied</p>
                        {% else %}
                        <a href="{% url 'scholarship_details' data.id  %}" class="btn btn-info">Apply</a>
                        {% endif %}

                        <a href="#" class="post-date"><i class="fa fa-calander"></i>{{ data.enddate }}</a>
                    </div>
                </div>

            </div>

        </div>


    </div>

    {% endfor %}

    <!-- Pagination -->

 
    {% if AllScholarship.has_other_pages %}
    <ul class="pagination" >

    {% if AllScholarship.has_previous %}
      <li id="prev"><a href="?page={{ AllScholarship.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in AllScholarship.paginator.page_range %}

      {% if AllScholarship.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <!-- if we want to show only one no then we comment the below line  -->
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}

    {% endfor %}

    {% if AllScholarship.has_next %}
      <li><a href="?page={{ AllScholarship.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %} 


<!-- ========================= -->

</section>



<!-- Schilarship details start -->

<!-- 
<section class="view"> 

    <div class="container">

        <table class="table" id="example" >

            <thead>

                <tr>

                    <th>S. No.</th>
                    <th>Logo</th>
                    <th>Title</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>No of Scholarships</th>
                    <th>Action</th>
                    

                </tr>

            </thead>

            <tbody>

                {% for data in AllScholarship %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ data.logo.url }}"></td>
                    <td>{{ data.title }}</td>
                    <td>{{ data.startdate }}</td>
                    <td>{{ data.enddate }}</td>
                    <td>{{ data.noofscholarships }}</td>

                    {% if data.id in List %}
                    <td>Applied</td>
                    {% else %}
                    <td><a href="{% url 'scholarship_details' data.id  %}" type="button" class="btn btn-info">Apply</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
</section> -->

{% endblock %}