{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- user login form start -->

<h2 class="titles">login to your account</h2>


<section class="forms" id="form">

    <div class="container" id="sign-form">
        <h2 class="login-title">Student Login</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="uname"><b>Email</b></label>
            <input type="email" class="form-control" placeholder="Enter Email" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
        
            <button class="login" type="submit" value="login">Login</button>


            <a class="register" href="{% url 'user_signup' %}" id ="bt">Regirter</a>
            <hr>
            <p><a href="{% url 'password_reset' %}" >Forgotten Your Password?</a></p>
            
        </form>
    </div>
</section> 



<!-- user login form end -->

{% if Error == 'no' %}
<script>
    alert('Login Successful');
    window.location = ("{% url 'user_home'%}");
</script>

{% elif Error == 'yes' %}
<script>
    alert('Invalid Login credentials. \n Please Try Againg...');
</script>

{% endif %}



{% endblock%}