{% extends 'user_base.html' %}
{% load static %}

{% block content %}

<!-- data tables and export button  JS Code start -->
<!-- <script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script> -->
<!-- data tables and export button JS Code end -->


<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Latest Scholarships</marquee>
</section>

<section class="schilarsship-list" id="schilarships">

    {% for data in AllScholarship %}

    <div class="scholarship-card">

        <div class="row" style="width:100%;">

            <!-- col-1 -->
            <div class="col-md-8">
                <div class="scholarship-name">

                    <img class="profile" src="{{ data.logo.url }}" alt="">
                        <div class="scholarship-detail">
                            <h4>{{ data.provider.companyname }}</h4>
                            <h3>{{ data.title }}</h3>
                            <p>{{ data.discription }}</p>
                            <a href="#" class="detail-1"><i class="fa fa-location"></i> {{ data.Location }}</a>
                            <a href="#" class="detail-1"><i class="fa fa-location"></i> {{ data.startdate }}</a>
                        </div>
                </div>
            </div>

            <!-- col-2 -->
            <div class="col-md-2">
                <div class="scholarship-name">
                    <div class="scholarship-lable">
                        <a class="lable-a" href="#">{{ data.scholarshiptype }}</a>
                    </div>
                </div>

            </div>

            <!-- col-3 -->
            <div class="col-md-2">
                <div class="scholarship-name">
                    <div class="posted">
                        {% if data.id in List %}
                        <p>Applied</p>
                        {% else %}
                        <a href="{% url 'scholarship_details' data.id  %}" class="btn btn-info">Apply</a>
                        {% endif %}

                        <a href="#" class="post-date"><i class="fa fa-calander"></i>{{ data.enddate }}</a>
                    </div>
                </div>

            </div>

        </div>


    </div>

    {% endfor %}

</section>



<!-- Schilarship details start -->

<!-- 
<section class="view"> 

    <div class="container">

        <table class="table" id="example" >

            <thead>

                <tr>

                    <th>S. No.</th>
                    <th>Logo</th>
                    <th>Title</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>No of Scholarships</th>
                    <th>Action</th>
                    

                </tr>

            </thead>

            <tbody>

                {% for data in AllScholarship %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ data.logo.url }}"></td>
                    <td>{{ data.title }}</td>
                    <td>{{ data.startdate }}</td>
                    <td>{{ data.enddate }}</td>
                    <td>{{ data.noofscholarships }}</td>

                    {% if data.id in List %}
                    <td>Applied</td>
                    {% else %}
                    <td><a href="{% url 'scholarship_details' data.id  %}" type="button" class="btn btn-info">Apply</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
</section> -->

{% endblock %}