{% extends 'user_base.html' %}
{% load static %}

{% block content %}

<!-- marquee section start -->
<!-- marquee section end -->
<style>
#complete-userprofile{
    padding: 2rem 2rem;
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 1);
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;

}
#img-userhome{
  border: 2px solid #FA6900;
  border-radius: 4px;
  padding: 5px;
  width: 180px;
  height: 220;
  margin-top: 30px;
  margin-left: 20px;
}
</style>


<!-- provider sign-up profile or update form start -->
<h2 class="titles">Complete Your Profile</h2>

<section class="forms">

    <div class="container" id="complete-userprofile" style="margin-bottom: 50px;">

        <div class="row">

            <!-- form column -->
            <div class="col-md-9"> 

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
        
                        <div class="col-md-6">
                            <label for="uname"><b>Firstname</b></label>
                            <input type="text" class="form-control" placeholder="Enter Firstname" value="{{ Student.user.first_name }}" name="fname" required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="uname"><b>Lastname</b></label>
                            <input type="text" class="form-control" placeholder="Enter Lastname" value="{{ Student.user.last_name }}" name="lname" required>
                        </div>
        
                    </div>
        

        
                    <div class="row">
        
                        <div class="col-md-6">
                            <label for="uname"><b>Email</b></label>
                            <input type="email" class="form-control" placeholder="Enter Email" value="{{ Student.user.username }}" name="email" readonly required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="uname"><b>Contact</b></label>
                            <input type="text" class="form-control" placeholder="Enter Contact" value="{{ Student.mobile}}" name="contact" required>
                        </div>
        
                    </div>

                    <div class="row">
        
                        <div class="col-md-12">
                            <!-- <label for="income"><b>Income(Pre Month)</b></label>
                            <input type="text" class="form-control" placeholder="Enter Income" name="income" value="{{ Student.income}}" required> -->
                            <label for="status"><b>Level of Education</b></label><span style="color: rgb(157, 169, 159);"> [{{Student.education_level}}]</span>
                            <select class="form-select" name="income">
                                <option value="Matriculation">Matriculation</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Bachelor">Bachelor</option>
                                <option value="Master">Master</option>
                                <option value="PhD">PhD</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

        
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <label for="degree"><b>Current Program</b></label>
                            <input type="text" class="form-control" placeholder="Enter Current Degree" name="degree" value="{{ Student.currentdegree}}" required>
                        </div>
        
                        <div class="col-md-6">
                            <label for="marks"><b>Grades</b></label>
                            <input type="text" class="form-control" placeholder="Enter previous" name="marks" value="{{ Student.previousmarks}}" required>
                        </div>
                    </div>
        
                    <div class="row">
        
                        <div class="col-md-12">
                            <label for="location"><b>Location</b></label>
                            <input type="text" class="form-control" placeholder="Enter Location" name="location" value="{{ Student.location}}" required>
                        </div>
        
                    </div>
        
                    <div class="row">
        
                        <div class="col-md-6">
                            <label for="psw"><b>Gander</b></label>
                            {% if Student.gender == 'male' %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="male" checked>
                                <label class="form-check-label" for="exampleRadios1">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="femail">
                                <label class="form-check-label" for="exampleRadios2">Femail</label>
                            </div>

                            {% elif Student.gender == 'femail' %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="male">
                                <label class="form-check-label" for="exampleRadios1">Male</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="femail" checked>
                                <label class="form-check-label" for="exampleRadios2">Femail</label>
                            </div>
                              
                            {% endif %}
                        </div>
                    
    
                        <div class="col-md-6">
                            <!-- <label for="psw"><b>Insert Your Image</b></label> -->
                            <div class="form">
                                <label for="exampleFormControlFile1"><b>Change Image</b></label><br>
                                <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1" accept="image/*">
                            </div>                
                        </div>
        
                    </div>

                    <div class="row">
        
                        <div class="col-md-12">
                            <label for="dis"><b>Discription</b></label>
                            <textarea class="form-control" name="discription" placeholder="Discription here:" id="" cols="18" rows="6">{{ Student.discriotion}}</textarea>
                            
                        </div>
                    </div>
        
                
                    <button type="submit" value="signup" id="bt">Update</button>
        
                    
                </form>

            </div>

            <!-- pictire column -->
            <div class="col-md-3">

                <img src="{{ Student.image.url }}" id="img-userhome">

            </div>



        </div>


        
    </div>
</section>

<!-- provider sign-up form end -->

{% if Error == 'no' %}

<script>
    alert('Successfully updated');
    window.location = ("{% url 'user_home'%}");
</script>
{% elif Error == 'yes' %}
<script>
    alert('Something went to Wrong. \n Please Try Againg...');
</script>
{% endif %}
{% endblock %}