{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    body{
        background-color:  #f2f7fc;
    }
</style>

<!-- marquee section start -->
<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">User Sign Up First</marquee>
</section>
<!-- marquee section end -->

<script>
    function checkpass()
    {
        if(document.signup.psw.value != document.signup.cpsw.value)
        {
            alert("Password and Conform Password doesn't match.");
            document.signup.cpsw.focus();
            return false;
        }
        return true;
    }
</script>

<!-- user sign-up form start -->
<h2 class="titles">creagte your account</h2>


<section class="forms" id="form">

    <div class="container" id="">

        <h2 class="login-title">Sign-Up</h2>

        <form action="" method="POST"  name="signup" onsubmit="return checkpass();" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <div class="col-md-6">
                    <label for="uname"><b>Firstname</b></label>
                    <input type="text" class="form-control" placeholder="Enter Firstname" name="fname" required>
                </div>

                <div class="col-md-6">
                    <label for="uname"><b>Lastname</b></label>
                    <input type="text" class="form-control" placeholder="Enter Lastname" name="lname" required>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <label for="uname"><b>Contact</b></label>
                    <input type="text" class="form-control" placeholder="Enter Contact" name="contact" required>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <label for="uname"><b>Email</b></label>
                    <input type="email" class="form-control" placeholder="Enter Email" name="email" required>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
                </div>

                <div class="col-md-6">
                    <label for="psw"><b>Conform Password</b></label>
                    <input type="password" class="form-control" placeholder="Enter Password Again" name="cpsw" required>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <label for="psw"><b>Gander</b></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="male" checked>
                        <label class="form-check-label" for="exampleRadios1">Male</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="femail">
                        <label class="form-check-label" for="exampleRadios2">Femail</label>
                      </div>
                </div>

                <div class="col-md-6">
                    <!-- <label for="psw"><b>Insert Your Image</b></label> -->
                    <div class="form">
                        <label for="exampleFormControlFile1"><b>Image</b></label><br>
                        <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1" accept="image/*">
                    </div>                
                </div>

            </div>
        
            <button type="submit" value="signup" id="bt">Sign Up</button>

            
        </form>
    </div>
</section>

<!-- user sign-upn form end -->

{% if Error == 'no' %}

<script>
    alert('SignUp Successful');
    window.location = ("{% url 'user_login'%}");
</script>
{% elif Error == 'yes' %}
<script>
    alert('Something went to Wrong. \n Please Try Againg...');
</script>
{% endif %}





{% endblock%}