{% extends 'provider_base.html' %}
{% load static %}

{% block content %}


<style>
    .schilar-details{
        margin: 5%;
        margin-left: 15%;
        margin-right: 15%;
        padding: 1rem;
        /* background-color: #f3f3f3; */
    }
    #detal-page{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin: 0.5rem;
        min-height: 100px;
        align-items: center;
        background-color: #ffffff;
        box-shadow: rgb(0, 0, 0, 0.20) 0px 1px 4px;
        cursor: pointer;
    }
    #clm-a{
        padding: 10px;
    }
    #clm-a .logo-imgs{
        /* display: flex; */
        width: 70px;
        height: 120px;
        margin: 1rem;
        padding: 0.1rem 1rem 0.1rem 5rem ;
        margin-bottom: 3rem;
    }
    #clm-b{
        margin-left: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #clm-b >h2{
        color: hsl(174, 100%, 62%);
        font-size: 2rem;
        font-family:Tahoma;
    }
    #clm-b .user-name{
        font-size: bold;
        color: #33ab35;
        font-family: Times New Roman;

    }
    #clm-b >h1{
        color: hsl(277, 100%, 62%);
        font-size: 2rem;
        font-family: monospace;
        font-weight: bolder;
    }
    #clm-b > p {
        text-align: justify;

    }
    #clm-b > p >b {
        color: #3341ab;

    }
    #clm-b > a{
        text-decoration: none;
        font-size: 1rem;
        color: #33ab35;
        padding-top: 1.3rem;
    }
    #clm-b .clm-details{
        color: #3341ab;
        font-size: 1rem;
        font-weight: bold;
    }
    .remaining-details{
        margin-top: 1rem;
        width: 100%;     
        
    }
   
    .remaining-details > a{
        text-decoration: none;
        padding-top: 2px;
        font-size: 1rem;
        color: #3341ab;

    }
    .remaining-details > a >span{
        color: cadetblue;
        font-size: 1.1rem;
        font-weight: bold;

    }
    .remaining-details #view-form{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5rem;

    }

    .more-apply{
    display: block;
    text-decoration: none;
    margin: 20px auto;
    padding: 0,3rem 2rem;
    width: 250px;
    background-color: transparent;
    color: rgb(164, 175, 12);
    border: 1px solid rgb(164, 175, 12);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.more-apply:hover{
    background-color: rgb(164, 175, 12);
    color: white;
}
    
    


</style>


<h2 class="titles">candidate's details</h2>


<section class="schilar-details">

    <div class="container" id="detal-page">

        <div class="row" id="row-a" style="width: 100%;">

            <!-- col-1 -->
            
            <div class="col-md-7" id="clm-b">
                <h2 class="user-name">{{ applieduser.student.user.first_name }} {{ applieduser.student.user.last_name }}</h2>
                <h1>{{ applieduser.addscholarship.title }}</h1>
                <h2>{{ applieduser.addscholarship.provider.companyname }}</h2>

                <a href="#" class="clm-details-1"><i class="fa fa-location"></i> {{ applieduser.student.location}}</a><br>
                <a href="#" class="date"><span class="clm-details">Gender</span>&nbsp;&nbsp;{{ applieduser.student.gender }}</a><br><br>
                <a href="#"><span class="clm-details">Applied Date</span>&nbsp;&nbsp;<i class="fa fa-calendar"></i> {{applieduser.applyeddate}}</a>
                <br><br>
                <p><b>Discription:</b> {{ applieduser.student.discriotion }}</p>
                

                <div class="remaining-details">
                    <a href="#" class="det"><span>Candidate CNIC:</span>&nbsp;&nbsp;&nbsp;&nbsp;{{applieduser.student.cnic}}</a><br>
                    <a href="#" class="det"><span>Disability:</span>&nbsp;&nbsp;{{applieduser.student.disability}}</a><br>
                    <a href="#" class="det"><span>Institution:</span>&nbsp;&nbsp;&nbsp;{{applieduser.student.institution}}</a><br>
                    <a href="#" class="det"><span>Hafiz-e-Quran </span>&nbsp;&nbsp;&nbsp;&nbsp;{{applieduser.student.hafiz}}</a><br>
                    <a href="#" class="det"><span>Registration No:</span>&nbsp;&nbsp;{{applieduser.student.registration}}</a><br>
                    <a href="#" class="det"><span>Education Level:</span>&nbsp;&nbsp;&nbsp;&nbsp;{{applieduser.student.education_level}}</a><br>
                    <a href="#" class="det"><span>Current Program:</span>&nbsp;&nbsp;{{applieduser.student.currentdegree}}</a><br>
                    <a href="#" class="det"><span>Grades:</span>&nbsp;&nbsp;&nbsp;{{applieduser.student.previousmarks}}</a><br>
                    <a href="#" class="det"><span>Guardian CNIC:</span>&nbsp;&nbsp;{{applieduser.student.gcnic}}</a><br>
                    <a href="#" class="det"><span>Guardian Monthly Income:</span>&nbsp;&nbsp;&nbsp;&nbsp;{{applieduser.student.total}}</a><br>
                    

                    <a href="{{ applieduser.scholarshipform.url}}" class="btn btn-info" id="view-form" download>Download Form</a>


                </div>
            </div>

            <!-- col-2 -->
            <div class="col-md-4" id="clm-a">
                <img class="logo-imgs" src="{{ applieduser.student.image.url }}" style="width: 300px; height: 220;">

            </div>
            <!-- <a href="#" class="more-apply">Apply for this scholarship</a> -->

        </div>


    </div>

</section>

<!-- user detail end -->
<!-- 
<section class="details"> 

    <div class="container mt-4 mb-5 shadow-lg" style="border: 3px solid #fafafa; background-color: beige; padding: 20px 10px;">

            <div class="row mt-3">

                <div class="col-md-8">
                    <h2>{{ applieduser.student.user.first_name }} {{ applieduser.student.user.last_name }}</h2>
                    <p><b>Gender </b>{{ applieduser.student.gender }}</p>
                    <p><b>Job Title: </b>{{ applieduser.addscholarship.title }} </p>
                    <p><b>Comapny Name: </b>{{ applieduser.addscholarship.provider.companyname }} </p>
                    <p><b>Location: </b>{{ applieduser.student.location}}</p>
                    <p><b>Applied Date: </b><a href="#">({{applieduser.applyeddate}})</a></p>
                </div>

                <div class="col-md-4">
                    <img src="{{ applieduser.student.image.url }}" style="width: 300px; height: 220;">
                </div>
        </div>

        <hr>
        <div>
            <h6>Current Degree</h6>
            <p>{{applieduser.student.currentdegree}}</p>
        </div>
        <hr>
        <div>
            <h6>Previous Marks</h6>
            <p>{{applieduser.student.previousmarks}}</p>
        </div>
        <hr>
        <div>
            <h6>Income</h6>
            <p>{{applieduser.student.income}} /month</p>
        </div>
        <hr>
        <div>
            <h6>Scholarship Form</h6>
            <p><a href="{{ applieduser.scholarshipform.url}}" class="btn btn-info">View Form</a></p>
        </div>
        <hr>
        <div>
            <h6>Discription: </h6>
            <textarea class="form-control" name="" id="" cols="30" rows="10" style="margin-bottom: 10px; background-color:beige;">{{ applieduser.student.discriotion }}</textarea>
        </div>
        <hr>
        

    </div>
</section> -->

{% endblock %}