{% extends 'user_base.html' %}
{% load static %}

{% block content %}

<!-- data tables and export button  JS Code start -->
<!-- <script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script> -->
<!-- data tables and export button JS Code end -->


<section class="marquee">
    <marquee behavior="scroll" direction="left" scrollamount="12">Latest Scholarships</marquee>
</section>

<section class="view"> 

    <div class="container">

        <table class="table" id="example" >

            <thead>

                <tr>

                    <th>S. No.</th>
                    <th>Logo</th>
                    <th>Title</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>No of Scholarships</th>
                    <th>Action</th>
                    

                </tr>

            </thead>

            <tbody>

                {% for data in AllScholarship %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ data.logo.url }}"></td>
                    <td>{{ data.title }}</td>
                    <td>{{ data.startdate }}</td>
                    <td>{{ data.enddate }}</td>
                    <td>{{ data.noofscholarships }}</td>
                    {% if data.id in List %}
                    <td>Applied</td>
                    {% else %}
                    <td><a href="{% url 'scholarship_details' data.id  %}" type="button" class="btn btn-info">Apply</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
</section>

{% endblock %}