@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#602ba4;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

/* header start */
.header{
    background-color: #135785;
    position: sticky;
    width: 100%;
    top:0; left:0; right:0;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    
}
.header .navbar .nav-item a{
    color: #fff !important;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.header .navbar .navbar-nav{
    padding-left: 15rem;
}
.header .navbar .nav-item .nav-link:hover{
    color: black!important;
    font-weight: bold;
    background-color :var(--main-color);
    border-radius: 10px;
}
/* header end */
/* base page end */

/*---------------------------------------------*/
/*---------------------------------------------*/

/* home page start */

/* baner start */
.banar{
    margin: 0px;
}
.banar .banar-img{
    background-image:url("/static/img/meeting.jpg");
    background-repeat:no-repeat;
    text-align: center;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    width:100%;
    height:500px;
}
.banar .banar-img .content{
    width: 85rem;
    display: none;
    display: inline-block;
}
.banar .banar-img .content span{
    display: block;
    font-size: 2.2rem;
    color: rgba(142, 39, 77, 0.6);
    padding-bottom: 1rem;
    animation:fadeIn .2s linear backwards .2s;
}
.banar .banar-img .content h3{
    font-size: 4vw;
    color:var(--main-color);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding:1rem 0;
    animation:fadeIn .2s linear backwards .4s;
}
.banar .banar-img .content .but:hover{
    background-color: var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    animation:fadeIn .2s linear backwards .6s;
}
/* baner end */

/* our mission section start */
.mission{
    background-color: var(--light-white);
}
.mission .container{
    margin-top: 20px;
    text-align: center;
}
/* our mission section end */

/* <!-- footer section start --> */
.footer{
    background-color: #135785;
}
.footer .container{
    margin-top: 20px;
    text-align: center;
}
/* <!-- footer section end --> */

.admin-form{
    margin-top: 10px;
}


/* home page end */

/* --------------------------------------------- */
/* --------------------------------------------- */

/* login / sign-up Pages start */

/* marquee start */
.marquee{
    margin-top: 10px;
    height: 40px;
    background-color: #222;
    color: aquamarine;
    box-shadow: var(--box-shadow);
    font-size: 20px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
    font-display: flex;

}
/* marquee end */

/* admin / user / provider  login start */
.forms{
    margin-top: 25px;
}

.forms .container{
    border: 3px solid #f1f1f1;
    padding: 20px 20px;
}

input[type=text], input[type=password], input[type=email] {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

button{
    background-color: #00ad6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width:90px;
    height: 50px;
    /* border-radius: 10px; */
    border: none;
    cursor: pointer;  
}
button:hover {
    /* opacity: 0.8; */
    background-color: var(--main-color);
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

}

/* admin login end */

/* create an accout start */
#bt{
    background-color: #00ad6d;
    color: white;
    padding: 14px 20px;
    margin: 20px 12px;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;   
}
#bt:hover {
    /* opacity: 0.8; */
    background-color: var(--main-color);
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

}
/* create an accout end */

/* sign-up start */
#signup{

    margin-bottom: 30px;
}

/* sign-up end */


/* login / sign-up Pages end */



